* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    margin: 0;
    height: 100vh;
    color: white; 
    
}

body, input, button, textarea {
    font-size: 1.8rem;
    line-height: 1;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
}

#page-landing {
    background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%) no-repeat;
    min-height: 100vh;
    text-align: center;
    
    display: flex;
}

#container {
    margin: auto;
}

.location, h1, .visit p {
    height: 16vh;
}

.visit a {
   width: 8rem; 
   height: 8rem;
   background: #FFD666;
   border: none;
   border-radius: 3rem;
   display: flex;
   text-align: center;
   align-items: center;
}