#page-landing {
    background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%) no-repeat;
    min-height: 100vh;
    text-align: center;
    
    display: flex;
}

#container {
    margin: auto;
    width: min(90%, 112rem);
}

.location, h1, .visit p {
    height: 16vh;
}

.visit a {
   width: 8rem; 
   height: 8rem;
   background: #FFD666;
   border: none;
   border-radius: 3rem;
   display: flex;
   justify-content: center;
   align-items: center;
   
   margin: 0 auto;
   transition: background .3s;
}

.visit a:hover {
    background: #96feff;
}

#logo {
    animation-delay: 50ms;;
}

.location {
    animation-delay: 100ms;
}

main h1 {
    animation-delay: 150ms;
}

.visit p {
    animation-delay: 200ms;
}

.visit a {
    animation-delay: 250ms;
}


/* DESKTOP VERSION*/

@media (min-width: 760px) {
    header {
        
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .location, h1, .visit p {
        height: initial;
        text-align: initial;
    }

    .location  {
        text-align: right;
    }

    main h1 {
        font-size: clamp(4rem, 8vw, 8.4rem);
        font-weight: bold;

        width: min(300px, 80%);
    }
}